.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://openclipart.org/image/2400px/svg_to_png/202776/pawn.png');
    background-size: cover;
  }
.deleteButton {
  position: absolute;
  right: 20px;
  top: 20px;
}