<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ customer.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ customer.firstName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>Email:</strong> {{ customer.email }} </p>
    <p>
      <strong>Phone:</strong> {{ customer.phone }} </p>
    <p>
      <strong>Company:</strong> {{ customer.company_name }} </p>
    <hr>
    <p *ngIf="comments.length > 0"> 
      <strong>Comments:</strong>
    </p>
    <br>
    <div *ngFor="let comment of comments">
      <mat-card-content class="comments">
        <p>
          <strong>Date: {{ comment.date }}</strong>
        </p>
        <p> {{ comment.text }} </p>
        <button  class="delete-comment"  mat-mini-fab color = "warn" (click) = "deleteComment(comment.comment_id)">
          <mat-icon >delete</mat-icon>
        </button>
      </mat-card-content>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="deleteButton" mat-button color="warn" (click)="removeCustomer(customer.email)" routerLink="">Remove</button>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="commentText" placeholder="add comment ..." name="Commenr"><br>
      </mat-form-field>
      <button mat-button color="primary" (click)="addComment(commentText)">Add Comment</button>
    </form>

  </mat-card-actions>
</mat-card>